/* Base Styles -------------------- */


// Remove the margin in all browsers.
html,
body {
    overflow-x: hidden;
	margin: 0;
}

.heading-multiline {
    & > span {
        &:not(:last-child):after {
            content: '\A';
            white-space: pre;
        }
    }
}

img {
    &.cover-x {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}

ul,
ol {
    @extend .pl-3;
    @extend .py-3;
}

.list {

    &-style-none {
        list-style: none;
        @extend .p-0;

        & > li {
            &:not(:last-child) {
                @extend .mb-2;
            }
        }
    }

    &-inline {
        margin: 0;
        padding: 0;
        li {
            @extend .d-inline;
            &:not(:last-child) {
                @extend .mr-5;
            }
        }
    }

    &-item {

        $icon-height: $font-size-sm;

        &-mail {
            &:before {
                @include icon_mail();
            }
        }

        &-phone {
            &:before {
                @include icon_phone();
            }
        }

        &-phone,
        &-mail {
            list-style: none;
            margin-left: - map-get( $spacers, 3 );
            &:before {
                display: inline-block;
                vertical-align: middle;
                content: ' ';
                background-size: $icon-height $icon-height;
                height: $icon-height;
                width: $icon-height;
                margin-right: map-get( $spacers, 1 );
            }
        }
    }
}



.container {
    &-wide {
        @extend .container-fluid;
        @extend .p-0;
        max-width: 2000px;  // ???
    }
}
