/* Custom Mixins -------------------- */

@mixin erfahr_bg_gradient() {
    // https://colorzilla.com/gradient-editor/#6eb45c+0,93d981+100
    background-color: $primary; // Old browsers
    @include filter-gradient( $primary, $primary-light, horizontal); // IE6-9 fallback on horizontal gradient
    @include background-image(linear-gradient(left top,  rgba($primary,1) 40%,rgba($primary-light,1) 100%));
}

@mixin erfahr_bg_gradient_light() {
    background-color: $primary-light; // Old browsers
    @include filter-gradient( $primary-light, lighten( $primary-light, 12% ), horizontal); // IE6-9 fallback on horizontal gradient
    @include background-image(linear-gradient(left top,  rgba($primary-light,1) 40%,rgba($primary-light,1) 100%));
}

// https://codepen.io/manabox/pen/oZvZWx
@mixin erfahr_text_gradient($angle: 0deg, $color_from: $primary, $color_to: $primary-light) {
  color: $color_from;
  background: -webkit-linear-gradient($angle, $color_from, $color_to );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
