/* Footer -------------------- */

.footer {

    @extend .container;

    &, a {
        @extend .text-secondary;
    }

    & > .row {
        justify-content: space-between;
        & > * {
            @extend .align-self-center;

            @extend .p-2;

            @extend .p-sm-4;

            @each $bp in (xs ,xssm) {
                @include media-breakpoint-only( $bp ) {
                    text-align: center;
                    width: 100%;

                    &:not(:last-child){
                        padding-bottom: 0 !important;
                    }

                }
            }
        }
    }

    &-copyright {
        // ...
    }

    &-nav {
        ul {
            @extend .list-inline;
            @each $bp in (xs ,xssm) {
                @include media-breakpoint-only( $bp ) {
                    padding: map-get( $spacers, 2 ) !important;
                }
            }
        }
    }

}
