/* Header -------------------- */


.header {
    @extend .container-wide;

    &-branding {

        @extend .row;

        & > * {
            @extend .align-self-center;
            @extend .p-3;
            text-align: right;
        }

        &-logo {
            @extend .col-6;
            @extend .col-sm-5;
            @extend .col-md-4;
            @extend .col-lg-3;
            @extend .border-bottom;
            @extend .border-primary;

            img {
                max-width: 100%;
                @include media-breakpoint-only( xs ) {
                    margin: 0 map-get( $spacers, 1 );
                }
            }
        }

        &-contact {
            @extend .col-#{ 12 - 6 };
            @extend .col-sm-#{ 12 - 5 };
            @extend .col-md-#{ 12 - 4 };
            @extend .col-lg-#{ 12 - 3 };

            @each $bp in (xs, xssm, sm) {
                @include media-breakpoint-only( $bp ) {
                    padding: 0 !important;
                }
            }

            a,
            span {
                @extend .text-secondary;

                margin-right: map-get( $spacers, 4 );

                @include media-breakpoint-up( xssm ) {
                    margin-right: map-get( $spacers, 5 );
                }
            }
        }

    }


    &-banner {
        @extend .container-fluid;
        @extend .position-relative;

        height: 250px;
        @include media-breakpoint-up( sm ) { height: 275px; }
        @include media-breakpoint-up( md ) { height: 300px; }
        @include media-breakpoint-up( lg ) { height: 325px; }
        @include media-breakpoint-up( xl ) { height: 350px; }

        &-img {
            right: 0;
            height: 100%;
            width: 55%;
            background: url("../../assets/00_Header.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
        }

        &-title-wrapper {
            @extend .row;
            @extend .position-relative;
            @extend .h-100;

            white-space: nowrap;

            & > .col {
                @extend .align-self-center;
            }

            &-intend {
                margin-left: map-get( $spacers, 1 );
                @include media-breakpoint-up( sm ) { margin-left: map-get( $spacers, 3 ); }
                @include media-breakpoint-up( md ) { margin-left: map-get( $spacers, 4 ); }
                @include media-breakpoint-up( lg ) { margin-left: map-get( $spacers, 5 ); }

            }

            .heading-multiline {
                & > span {
                    @extend .text-white;
                    @extend .py-2;
                    @extend .px-3;
                    @include erfahr_bg_gradient();
                    &:not(:last-child):after {
                        line-height: 2.5;
                        @include media-breakpoint-up( sm ) { line-height: 2.4; }
                        @include media-breakpoint-up( md ) { line-height: 2.3; }
                        @include media-breakpoint-up( lg ) { line-height: 2.2; }
                    }
                }

                @media (max-width: map-get( $grid-breakpoints, xssm ) ) {
                    font-size: $h5-font-size;
                    & > span {
                        &:not(:last-child):after {
                            line-height: 3;
                        }
                    }
                }

            }

        }

    }

    &-features {
        @extend .container-fluid;
        @extend .text-white;
        @extend .p-3;
        @include erfahr_bg_gradient();


        .card {
            @extend .text-center;
            @extend .bg-transparent;
            @extend .border-0;
            word-wrap: normal;
            @each $bp in (xs, xssm) {
                @include media-breakpoint-only( $bp ) {
                    &-body {
                        padding: map-get( $spacers, 2 );
                    }
                    &-text {
                        font-size: $font-size-sm;
                    }
                }
            }
        }

        & > .container-fluid {
            max-width: 1500px;
            margin: 0 auto;
            @each $bp in (xs, xssm) {
                @include media-breakpoint-only( $bp ) {
                    padding: 0;
                }
            }
            & > .row {
                & > div {
                    @extend .col-6;
                    @extend .col-md-3;
                    @extend .align-self-center;

                    @include last(2){
                        .card-body { padding-bottom: 0; }
                    }
                    @include media-breakpoint-up( md ) {
                        .card-body { padding-bottom: 0; }
                    }
                }
            }
        }

    }

}
