/* Header -------------------- */


.header {
    @extend .container-wide;

    &-branding {

        @extend .row;

        & > * {
            @extend .col;
            @extend .align-self-center;
            @extend .p-3;
        }

        &-logo {
            @extend .col-3;
            @extend .text-right;
            @extend .border-bottom;
            @extend .border-primary;
        }

        &-contact {
            @extend .col-4;
            &, a {
                @extend .text-secondary;
                @extend .mr-5;
            }
        }

        .col-spacer {


        }

    }


    &-banner {
        @extend .container-fluid;
        @extend .position-relative;
        height: 340px;

        &-img {
            right: 0;
            height: 100%;
            width: 55%;
            background: url("../../assets/00_Header.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
        }

        &-title-wrapper {
            @extend .row;
            @extend .position-relative;
            @extend .h-100;

            & > .col {
                @extend .align-self-center;
            }

            &-intend {
                margin-left: 8%;
            }

            .heading-multiline {
                & > span {
                    @extend .text-white;
                    @extend .py-2;
                    @extend .px-3;
                    @include erfahr_bg_gradient();
                    &:not(:last-child):after {
                        line-height: 2.2;
                    }
                }
            }

        }

    }

    &-features {
        @extend .container-fluid;
        @extend .text-white;
        @extend .p-3;
        @include erfahr_bg_gradient();

        .card {
            @extend .text-center;
            @extend .bg-transparent;
            @extend .border-0;

            &-body {
                @extend .pb-0;
            }
        }

    }

}
