
main {

    & > .section {


        /**
         * section layout
         */

        @extend .container-wide;
        &,
        & > .container {
            @extend .py-5;
        }

        .row {
            .title {
                @extend .col-3;

            }

            .content {
                @extend .col-9;

                &-main {
                    @extend .col-7;
                }

                &-main-narrow {
                    @extend .col-5;
                }

                &-highlight {
                    @extend .col-4;
                }

            }
        }


        /**
         * section fonts
         */

        @extend .text-justify;
        .row {
            .title {
                @extend .text-right;
                &-short {
                    @extend .font-weight-bold;
                }
            }
            .content-highlight {
                @extend .text-left;
            }
        }


        /**
         * section colors
         */

        &:not(.section--bg-gradient) {
            .row {
                .title-title,
                .content-highlight {
                    @include erfahr_text_gradient();
                }
            }
        }

        &--bg-gradient {
            @include erfahr_bg_gradient();

            .row {
                .title-short,
                .title-title,
                .content,
                .content-highlight {
                    &, a {
                        @extend .text-white;
                    }
                }
            }

        }


        /**
         * carousel
         */

        .carousel {
            &-item {
                img {
                    max-width: 100%;
                }
            }

            .carousel-indicators {
                @extend .mb-0;

                li {
                    background-color: $primary;
                }

            }

            .controls {
                @extend .row;
                @extend .m-0;
                position: absolute;
                top: 0;
                width: 100%;
                justify-content: flex-end;

                & > * {
                    display: flex;
                    @extend .bg-primary;
                    @extend .p-2;
                    @include erfahr_bg_gradient();

                    &:hover {
                        @include erfahr_bg_gradient_light();
                    }

                    span {
                        @extend .align-self-center;
                        @extend .text-center;
                        @extend .align-middle;
                    }
                }

                &-prev {
                    // ...
                }

                &-next {
                    // ...
                }

            }
        }


        /**
         * section custom
         */

        &#idee {
            // ...
            &,
            & > .container {
                @extend .pb-0;
            }
        }

        &#ziel {
            // ...


        }

        &#profile {
            // ...
        }


    }

}