
main {

    & > .section {


        /**
         * section layout
         */

        @extend .container-wide;
        &,
        & > .container {
            @extend .py-5;

            @include media-breakpoint-only( xs ) {
                padding-left: map-get( $spacers, 5 );
                padding-right: map-get( $spacers, 5 );
            }

            @media (max-width: map-get( $grid-breakpoints, xssm ) ) {
                padding-left: map-get( $spacers, 4 );
                padding-right: map-get( $spacers, 4 );
            }

            @each $bp in (sm, md, lg) {
                @include media-breakpoint-only( $bp ) {
                    max-width: unset;
                }
            }
        }

        .row {
            .title {
                @extend .col-12;
                @extend .col-sm-4;
                @extend .col-md-3;
                // @extend .col-lg-3;

                @each $bp in (sm, md) {
                    @include media-breakpoint-only( $bp ) {
                        padding-right: 0;
                    }
                }
            }

            .content {
                @extend .col-#{ 12 };
                @extend .col-sm-#{ 12 - 4 };
                // @extend .col-md-#{ 12 - 4 };
                @extend .col-lg-#{ 12 - 5 };

                & > .row {
                    &:last-child {
                        @each $bp in (xs, sm) {
                            @include media-breakpoint-only( $bp ) {
                                flex-direction: column;
                            }
                        }
                    }
                }

                &-main {
                    @extend .col-12;
                    @extend .col-sm-11;
                    @extend .col-md-10;
                }

                &-main-narrow {
                    @extend .col-12;
                    @extend .col-sm-11;
                    @extend .col-md-6;
                    @extend .col-lg-7;
                }

                &-highlight {
                    @extend .col-11;
                    @extend .col-sm-11;
                    @extend .col-md-6;
                    @extend .col-lg-5;

                    @each $bp in (xs, sm) {
                        @include media-breakpoint-only( $bp ) {
                            padding-right: map-get( $spacers, 5 );
                            align-self: flex-end;
                        }
                    }

                }

            }
        }


        /**
         * section fonts
         */

        @extend .text-justify;
        .row {
            .title {
                @extend .text-right;

                h1 {
                    font-size: $h1-font-size;
                    @include media-breakpoint-up( sm ) {
                        font-size: $h3-font-size;
                    }
                    // @include media-breakpoint-up( md ) {
                    //     font-size: $h3-font-size;
                    // }
                    @include media-breakpoint-up( lg ) {
                        font-size: $h2-font-size;
                    }
                    @include media-breakpoint-up( xl ) {
                        font-size: $h1-font-size;
                    }
                }

                &-short {
                    @extend .font-weight-bold;
                }
            }
            .content-highlight {
                @extend .text-left;
            }
        }


        /**
         * section colors
         */

        &:not(.section--bg-gradient) {
            .row {
                .title-title,
                .content-highlight {
                    @include erfahr_text_gradient();
                }
            }
        }

        &--bg-gradient {
            @include erfahr_bg_gradient();

            .row {
                .title-short,
                .title-title,
                .content,
                .content-highlight {
                    &, a {
                        @extend .text-white;
                    }
                }
            }

        }


        /**
         * carousel
         */

        .carousel {
            &-item {
                img {
                    max-width: 100%;
                }
            }

            .carousel-indicators {
                @extend .mb-0;

                li {
                    background-color: $primary;
                }

            }

            .controls {
                @extend .row;
                @extend .m-0;
                position: absolute;
                top: 0;
                width: 100%;
                justify-content: flex-end;

                & > * {
                    display: flex;
                    @extend .bg-primary;
                    @extend .p-2;
                    @include erfahr_bg_gradient();

                    &:hover {
                        @include erfahr_bg_gradient_light();
                    }

                    span {
                        @extend .align-self-center;
                        @extend .text-center;
                        @extend .align-middle;
                    }
                }

                &-prev {
                    // ...
                }

                &-next {
                    // ...
                }

            }
        }


        /**
         * section custom
         */

        &#idee {
            // ...
            &,
            & > .container {
                @extend .pb-0;
            }
        }

        &#ziel {
            // ...


        }

        &#profile {

            @each $bp in (xs, sm) {
                @include media-breakpoint-only( $bp ) {
                    img {
                        max-width: 250px;
                        @media (max-width: map-get( $grid-breakpoints, xssm ) ) {
                            max-width: 100%;
                        }
                    }
                }
            }

            .content {
                & > .row {
                     flex-direction: row;
                }
            }
        }


    }

}